@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    background: linear-gradient(90deg, black, purple, violet, cyan, black);
    /* background-color: black; */
    color: pink;
}

legend {
    font-family: 'Patua One', monospace;
    font-size: 5vw;
    font-weight: 100;
    color: black;
    background-color: cyan;
    box-shadow: 0.5vw 0.5vw 4vw 0vw rgb(0, 0, 0);
    border-radius: 2vw;
    padding: 1vw;
}

label {
    font-family: monospace;
    font-size: 3vw;
    color: #9ddfd3;
    position: relative;
    left: 4vw;
}

fieldset {
    border-style: solid;
    border-width: 2vw;
    border-color: #a685e2;
    border-radius: 4vw;
    background-color: #6155a6;
    box-shadow: 0.5vw 0.5vw 4vw 0vw rgb(0, 0, 0);
    width: 52vw;
    margin: auto;
    /* position: absolute; */
    /* left: 20vw; */
} 

button {
    font-family: 'Patua One', monospace;
    font-size: 3vw;
    font-weight: 100;
    color: #d38679;
    background-color: rgba(132, 80, 139, 0.5);
    border-radius: 3vw;
    padding: 1vw;
    position: relative;
}

button:hover {
    animation-name: button-ani;
    /* animation-duration: 500ms; */
    animation-fill-mode: forwards;
    transform: scale(1.1);
    transition: 0.3s;
}

@keyframes button-ani {
    100% {
        background: linear-gradient(35deg, purple, cyan);
        opacity: 0.8;
    }
}

.links {
    opacity: 0.7;
}

#signup-form-first-name {
    margin-left: 1vw;
}

#signup-form-last-name {
    margin-left: 2.6vw;
}

.signup-form-username-password {
    margin-left: 4.5vw;
}

.signup-form-inputs {
    padding: 1vw;
    margin-bottom: 2vw;
    border-style: solid;
    border-width: 0.5vw;
    border-radius: 3vw;
    border-color: #d38679;
}

[type='text'] {
    color: black;
    font-size: 2vw;
}

[type="password"] {
    color: red;
    font-size: 2vw;
}

#legend-anim {
    animation-name: legend-rainbow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes legend-rainbow {
    0% {
        background-color: cyan;
        opacity: 0.7;
    }
    50% {
        background-color: violet;
        opacity: 0.7;
    }
    100% {
        background-color: cyan;
        opacity: 0.7;
    }
}