@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    background-color: black;
    color: pink;
}

legend {
    font-family: 'Patua One', monospace;
    font-size: 3em;
    color: #d38679;
}

label {
    font-family: monospace;
    font-size: 2em;
    color: #9ddfd3;
}

fieldset {
    border-style: solid;
    border-width: 1em;
    border-color: #a685e2;
    border-radius: 2em;
    background-color: #6155a6;
}
#signup-form-first-name {
    margin-left: 1em;
}

#signup-form-last-name {
    margin-left: 2.1em;
}

.signup-form-username-password {
    margin-left: 3.2em;
}

.signup-form-inputs {
    padding: 0.6em;
    margin-bottom: 2em;
    border-style: solid;
    border-width: 0.4em;
    border-radius: 3em;
    border-color: #d38679;
}