@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

legend {
    font-family: 'Patua One', monospace;
    font-size: 30px;
    color: #9ddfd3;
}

label {
    font-family: monospace;
    font-size: 20px;
    color: #31326f;
}